@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin     : 0;
  padding    : 0;
}

.Board-container {
  display: flex;
}

.Board-center {
  display: inline-block;
  outline: 2px solid #000000;
  margin : 0 auto;
}

.row {
  height: 20px;
}

.box {
  width         : 20px;
  height        : 20px;
  outline       : 1px solid #e6e6e6;
  outline-offset: -1px;
  display       : inline-block;
  transition    : all 0.1s;
}

h1 {
  margin    : auto;
  width     : 100%;
  text-align: center;
}

.red-box {
  width         : 20px;
  height        : 20px;
  background    : rgb(172, 41, 41);
  outline       : 1px solid rgb(231, 59, 59);
  outline-offset: -1px;
  display       : inline-block;
  transition    : all 0.1s;
}

.blue-box {
  width         : 20px;
  height        : 20px;
  background    : rgb(59, 36, 189);
  outline       : 1px solid rgb(81, 69, 238);
  outline-offset: -1px;
  display       : inline-block;
  transition    : all 0.1s;
}

.gold-cell {
  background:
    linear-gradient(90deg, #0000 40%, rgba(255, 255, 255, 0.4) 50%, #0000 60%) #ffc72d;
  background-size: 300% 100%;
  animation      : shine 2s infinite;
}

@keyframes shine {
  0% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

.silver-cell {
  background-color: silver;
}

.bronze-cell {
  background-color: #725a36;
}

.table {
  outline: 3px solid black;
}

.navbar {
  background-color: #dddddd;
  margin          : 0;
}

.navbar a {
  padding        : 10px;
  text-decoration: none;
  color          : #000000;
  display        : inline-block;
  transition     : all 0.1s ease-in-out;
}

.navbar a:hover {
  padding         : 10px;
  text-decoration : none;
  background-color: #000000;
  color           : #ddd;
}

footer {
  margin-top     : 50px;
  font-size      : 10px;
  display        : flex;
  justify-content: center;
}

.account-header {
  position: absolute;
  top     : 0;
  right   : 0;
  margin  : 0;
}

.logout-button {
  vertical-align  : top;
  border          : none;
  background-color: #ddd;
  padding         : 10px;
  line-height     : 1em;
  font-size       : 16px;
  transition      : all 0.1s ease-in-out;
}

.logout-button:hover {
  background-color: #000;
  color           : #ddd;
}

.profile-pic {
  height: 80px;
}

.bar-pic{
	height: 30px;
}

#speed-prompt {
  margin         : auto;
  display        : grid;
  justify-content: center;
}

.btn {
  border          : none;
  padding         : 5px;
  margin          : 5px;
  color           : white;
  background-color: steelblue;
  transition      : all 0.1s ease-in-out;
}

.btn:hover {
  background-color: #000;
}

.leaderboard-container {
  padding: 10px;
}

.leaderboard {
  margin         : 0 auto;
  border-collapse: collapse;
}

.leaderboard tr {
  border       : none;
  border-bottom: 1px solid black;
}

.leaderboard th {
  border : none;
  padding: 5px;
}

#avatar {
  width: 80px;
  height:80px;
}

#avatar-container {
  display: grid;
  justify-content: center;
}

#account-container {
  display: grid;
  justify-content: center;
}

h2 {
  text-align: center;
}

.account-enter {
  display: grid;
  justify-content: center;
}